name: Publish

on:
  schedule:
    - cron: "5 8 * * *"
  workflow_dispatch:

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  update:
    runs-on: ubuntu-24.04

    strategy:
      fail-fast: false
      matrix:
        include:
          - type: "movie"
          - type: "tv"
          - type: "person"

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: astral-sh/setup-uv@ed21f2f24f8dd64503750218de024bcf64c7250a # v7.1.5

      - name: Install dependencies
        run: uv sync

      - name: Download from gh-pages
        run: |
          curl --fail --silent --show-error "https://josh.github.io/tmdb-index/tmdb-${{ matrix.type }}.parquet" --output tmdb-${{ matrix.type }}.parquet

      - name: Update index
        run: |
          uv run tmdb-index tmdb-${{ matrix.type }}.parquet
        env:
          TMDB_API_KEY: ${{ secrets.TMDB_API_KEY }}
          TMDB_TYPE: ${{ matrix.type }}
          TMDB_BACKFILL_LIMIT: ${{ vars.TMDB_BACKFILL_LIMIT }}
          TMDB_DAYS_LIMIT: ${{ vars.TMDB_DAYS_LIMIT }}
          TMDB_REFRESH_LIMIT: ${{ vars.TMDB_REFRESH_LIMIT }}

      - name: Upload artifact
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: tmdb-${{ matrix.type }}
          path: tmdb-${{ matrix.type }}.parquet
          retention-days: 7

  deploy:
    runs-on: ubuntu-24.04
    needs: update

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Download parquet artifacts
        uses: actions/download-artifact@v6
        with:
          path: data/

      - name: Flatten directory structure
        run: |
          find data -name "*.parquet" -exec mv {} data/ \;
          find data -type d -empty -delete

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Upload pages artifact
        uses: actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b # v4.0.0
        with:
          path: data/

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # v4.0.5
