name: Test

on: push

jobs:
  pytest:
    runs-on: ubuntu-slim

    strategy:
      matrix:
        uv_resolution: ["highest", "lowest-direct"]

    env:
      UV_RESOLUTION: ${{ matrix.uv_resolution }}

    steps:
      - uses: actions/checkout@v6

      - uses: astral-sh/setup-uv@v7

      - name: Install dependencies
        run: uv sync

      - name: Run tests
        run: uv run pytest
        env:
          TMDB_API_KEY: ${{ secrets.TMDB_API_KEY }}
